/* Arka plan resmi */
.backgroundDiv {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
    overflow: auto;
}

/* Girişteki merhaba yazısı */
.girisYazisi {
    font-size: 150px;
    text-align: center;
    margin-top: 8%;
    color: white;
    font-weight: bold;
    font-family: serif;
}

/* Tanıtım yazısını yazdığım div */
.girisDivi {
    position: relative;
    border: 3px solid white;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
}

.girisDivi::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(beyaz.jpg);
    opacity: 0.6;
    z-index: -1;
}

/* Yazılar */
.yazilar {
    color: black;
    font-family: serif;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 20px;
}

.yazilar2 {
    color: white;
    font-family: serif;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 20px;
}

.yazilar3 {
    color: white;
    font-family: serif;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 20px;
}

.div1 {
    position: relative;
    border: 3px solid white;
    margin-left: 6%;
    margin-right: 3%;
    margin-top: 3.5%;
    width: 45%;
    float: left;
    display: inline-block;

}

.div1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(mor.jpg);
    opacity: 0.6;
    z-index: -1;
}

.div2 {
    position: relative;
    border: 3px solid white;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
    float: left;
    display: inline-block;
}

.div2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(beyaz.jpg);
    opacity: 0.6;
    z-index: -1;
}

.resimDiv1 {
    border: 5px solid white;
    width: 40%;
    margin-left: 0%;
    margin-right: 4%;
    margin-top: 4%;
    float: left;
    display: inline-block;
}

.resimDiv2 {
    border: 5px solid white;
    width: 43%;
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 2%;
    float: left;
    display: inline-block;
}

.resimDiv3 {
    border: 5px solid white;
    width: 41%;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    display: inline-block;
}

.resimYaniDiv {
    float: left;
    padding-top: 12%;
    padding-bottom: 9.3%;
    padding-right: 0%;
    padding-left: 1%;
    border: 5px solid white;
    background-color: white;
    width: 8%;
    height: 100%;
}

.resimYaniDiv2 {
    float: left;
    padding-top: 18.7%;
    padding-bottom: 19.2%;
    padding-right: 0%;
    padding-left: 1%;
    border: 5px solid white;
    background-color: white;
    width: 8%;
    height: 100%;
}

.resimYaniYazi {
    font-weight: bold;
    color: gray;
    display: inline-block;
    float: left;
    writing-mode: vertical-rl;
    padding-left: 8%;
    padding-right: 2%;
}

.resim {
    float: left;
    width: 92%;
    height: 100%;
    display: inline-block;
}

.resim2 {
    padding-top: 0%;
    padding-left: 0%;
    text-align: center;
    width: 100%;
    height: 100%;
    display: inline-block;
}

/*Şehrim sayfası css kısmı  */
.girisDivi2 {
    position: relative;
    border: 3px solid white;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
}

.girisDivi2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(mor.jpg);
    opacity: 0.5;
    z-index: -1;
}

.girisDivi2,
h1 {
    padding-top: 3%;
    padding-left: 2%;
    font-family: serif;
    color: white;
}

.baslik {
    padding-top: 4%;
    padding-left: 4%;
    padding-bottom: 1%;
    font-weight: bold;
    font-family: serif;
    color: rgb(218, 20, 122);

}

.girisDivi3 {
    position: relative;
    border: 3px solid white;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
}

.girisDivi3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(siyah.jpg);
    opacity: 0.5;
    z-index: -1;
}

/* mirasımız css */
.resimDiv4 {
    margin-top: 15%;
}

.maviDiv {
    position: relative;
    border: 3px solid white;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
}

.maviDiv::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(siyah.jpg);
    opacity: 0.7;
    z-index: -1;
}

/* özgeçmiş css */
header h1 {
    font-family: serif;
    padding-left: 10%;
    padding-top: 9%;
    font-weight: bold;
}

header p {
    color: rgb(237, 182, 210);
    font-family: serif;
    padding-left: 10%;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
}
section h2 {
    font-family: serif;
    padding-left: 10%;
    font-weight: bold;
    color: white;
}
article h3 {
    font-family: serif;
    padding-left: 10%;
    font-size: 23px;
    color: rgb(237, 182, 210);
}
article p{
    font-size:16px;
    font-family: serif;
    padding-left: 10%;
    color: white;
}
section li{
    color: white;
    font-family: serif;
    padding-left: 10%;




}